:root {
    --text-blue-color: #2E97F2;
    --primary-color: #F1F8Fe;
    --background-color: white;
    /*border: 2px solid #b7dbfa;*/
    /*box-shadow: 0 1px 4px 0px rgb(0 0 0 / 70%);*/
}

/* Common */
html, body {
    height: 100%;
}
.dropdown-content {
    height: auto !important;
    width: max-content !important;
}
img {
    max-width: 100%;
    height: auto;
}

p { word-break: break-word; }

pre { white-space: pre-wrap; }

.link { text-decoration: underline; }

/* Auth */
.app__auth-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0 2rem 0;
    width: 100%;
}
.app__auth-header > img {
    width: 110px;
}
.app__auth-header > h1 {
    font-size: 30px;
}


@media (max-width: 550px) {
    .app__auth-header > img {
        width: 60px;
    }
    .app__auth-header > h1 {
        font-size: 18px;
    }
}






/* Profile */
.profile {
    max-height: 200px;
    background-color: var(--primary-color);
}

.profile-logout {
    position: absolute;
    right: 5vw;
    top: 2%;
}

.profile-logout.logout::after {
    content: 'Logout';
}

.profile-logout.login::after {
    content: 'Login';
}

.profile-container {
    display: flex;
    justify-content: start;
    background-color: var(--primary-color);
}

/* Profile - Header */
.profile-header {
    display: flex;
    clear: both;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0;
}

.profile-header__name-group {
    display: flex;
    flex-flow: wrap;
}

.profile-header__name {
    margin-right: .7rem;
}

.profile-header__slotsgroup {
    display: flex;
    align-items: center;
    width: 100%;
}

.profile-header__slots {
    display: flex;
    flex-direction: column;
}

.profile-header__slot {
    font-size: 30px;
}

.profile-header__slot.empty, .profile-header__name.empty {
    min-width: 100px;
    min-height: 1.5em;
    background-color: rgba(95, 93, 93, 0.192);
}

.profile-header__slot.empty { margin-bottom: .2rem; }

.profile-articles__add-category { 
    display: flex;
    width: 100%;
    position: relative;
    margin-bottom: 3.5rem;
}

.profile-articles__add-category > a { 
    position: absolute;
    right: 0;
}

.profile-header span { border-radius: 5px; }
.profile-header span:hover:not(.updating-field, .isguest) { 
    background-color: rgba(95, 93, 93, 0.192);
    cursor: text;
}
.profile-header img:hover:not(.isguest) {
    opacity: .7;
    cursor: pointer;
}

.profile-header__image {
    max-width: 15rem !important;
    width: auto;
    max-height: 15rem !important;
    margin-right: 1.7rem;
    height: auto;
}

.profile-header__image2 {
    max-width: 8rem !important;
    max-height: 8rem !important;
    padding-right: .5rem;
    width: auto;
    height: auto;
}

.profile-header__optional-image {
    position: relative;
}

.profile-header__image2 + i {
    position: absolute;
    margin: 0;
    top: 0;
    color: white;
    border-radius: 5px;
    background-color: rgba(185, 25, 25, 0.815);
    right: .5rem;
}

.profile-header__image2 + i:hover {
    cursor: pointer;
    background-color: rgba(163, 47, 47, 0.733);
}

.profile-header__textgroup {
    margin: 0 !important;
}

.profile-header__name {
    font-size: 35px;
    margin-bottom: .5rem;
    font-weight: bold;
    width: auto !important;
}

.profile__social {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.profile__share {
    display: flex;
    align-items: center;
}

.profile__share > a {
    margin-right: 1rem;
}

.profile__share-link {
    width: 100% !important;
    transition: all 1s;
}

.profile__share-link:hover {
    /* cursor: pointer;
    opacity: .7; */
}

.profile__social-links {
    display: flex;
    margin-top: 1rem;
    align-items: center;
}

.profile__social-link {
    width: 32px;
    height: 32px;
    margin-right: .5rem;
}

.profile__social-link.no-image {
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile__social-link > img {  }
.profile__social-link:hover { opacity: .7; }
.profile__social-link > i { margin: 0; }

.updating-field:focus, .profile-header__slot.empty:focus, .profile-header__name.empty:focus { 
    background-color: rgba(226, 51, 51, 0.411);
}

.updated-field  {
	-webkit-animation: updated-field  2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: updated-field  2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes updated-field {
    0% {
      background-color: rgba(84, 241, 53, 0.623);
    }
    100% {
      background-color: rgba(0, 0, 0, 0);
    }
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 1s linear infinite;
    -moz-animation: rotating 1s linear infinite;
    -ms-animation: rotating 1s linear infinite;
    -o-animation: rotating 1s linear infinite;
    animation: rotating 1s linear infinite;
  }

@media (max-width: 600px) {

    .profile { max-height: 175px; }

    .profile-header { 
        margin-top: 1rem;
        min-height: 90px;
    }

    .profile-header__name {
        font-size: 13px;
        font-weight: bold;
    }
    
    .profile-header__slot {
        font-size: 13px;
    }

    .profile-header__image {
        max-width: 90px !important;
        width: auto;
    }

    .profile-header__optional-image {
        position: absolute;
        top: 0;
        right: 0;
    }

    .profile-header__image2 {
        max-width: 70px !important;
        width: auto;
        padding-right: 0;
        height: auto;
    }

    .profile__social { flex-direction: column; }
    .profile__social-links { margin-top: 0; }

    .profile-logout {
        position: static;
        margin: 1rem;
        text-align: center;
    }

    .profile-header__name-group { margin-left: 0; }
    
    .profile__share { margin-top: 1rem; }

}

@media (max-width: 850px) {

    .profile-logout > i { margin: 0; }

    .profile-logout.logout::after { content: ''; }
    
    .profile-logout.login::after { content: ''; }

}


/* Modal Component */
.modal {
    display: none;
    position: fixed;
    width: 90%;
    top: 15vh;
    z-index: 20;
    padding: 4rem 2rem 1rem 2rem;
}
.modal button { margin-top: 1rem; }
.show-modal { display: block }
.modal-label {
    font-size: 20px;
    position: absolute;
    top: .8rem;
}
.close-modal {
    position: absolute;
    top: -.4rem;
    right: .6rem;
}
body.show-modal-body:before {
    content: '';
    height: 100%;
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.267);
}
.button-add-modal { margin: .5rem 0 1.5rem 0; }
.button-remove-modal { margin: 0 0 .5rem 0; }
.button-remove-modal > i { margin: 0; }

.citation-modal-text {
    font-weight: bold;
    padding: 2rem 1rem 3rem 1rem;
}

/* Profile articles/documents */
.profile-articles {

}
.profile-articles__category-name {
    font-size: 2rem;
    color: var(--text-blue-color);
}
.profile-articles__category-hidden {
    opacity: .5;
}
.profile-article__badge {
    float: right;
    background-color: var(--text-blue-color);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: 0 .2rem;
}
.profile-articles__category-header {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding: .5rem;
    margin: 3.5rem 0 1rem 0;
    border-radius: 5px;
    /*box-shadow: 0 1px 4px 0px rgb(0 0 0 / 70%);*/
    background-color: var(--primary-color);
}

.profile-articles__category:not(.profile-articles__category:first-child) >
.profile-articles__category-header {
    margin: 3.5rem 0 1rem 0;
}

.profile-articles__category-document {
    padding: 0 1rem;
    margin: .5rem 0;
}
.profile-articles__buttons-group {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}
.profile-articles__buttons-group1 {
    display: flex;
    align-items: center;
}
.profile-articles__buttons-group2 > button,
.profile-articles__buttons-group1 > button
{ margin-left: .3rem; }

.profile-articles__edit-category {
    position: absolute;
    left: 0;
    left: -17px;
    top: -15px;
}

.profile-articles__order-controls {
    display: flex;
    margin-left: .3rem;
    flex-direction: column;
    width: 25px;
    align-items: center;
    justify-content: center;
}
.profile-articles__order-button {
    height: 20px;
    width: 20px;
    display: flex;
    place-content: center;
    border: none;
    margin: .1rem 0;
    border-radius: 3px;
}
.profile-articles__order-button:hover {
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
}
.profile-articles__order-button:focus {
    background-color: rgb(239, 239, 239);
}
.profile-articles__order-controls i {
    font-size: 15px;
}
.profile-articles__document-separator {
    height: 2px;
    width: 100%;
    text-align: center;
    margin: 1.5rem auto;
    background-color: #b7dbfa;
}

/* Documents render */
.documents__title {
    font-size: 1.6rem;
    margin-bottom: .5rem;
    color: var(--text-blue-color);
}
.documents__subtitle {
    color: var(--text-blue-color);
    font-size: 1.1rem;
    margin-bottom: .2rem;
}
.documents__authors { margin-bottom: .4rem }
.documents__aut-name {
    /*margin-right: .3rem;*/
}

.collapse {
    display: block;
    max-height: 50px;
    overflow: hidden;
    transition: max-height .5s cubic-bezier(0, 1, 0, 1);
    position: relative;
}
.collapse::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--background-color);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5270483193277311) 41%);
}
.collapse:hover {
    cursor: pointer;
    opacity: .7;
}
.collapse.show:hover {
    cursor: pointer;
    opacity: 1;
}
.collapse.show {
    max-height: 99em;
    transition: all .5s ease-in-out;
}
.collapse.show::before {
    background: none;
}


/*  Footer  */

footer {
    display: flex;
    margin-top: 2rem;
    height: 6.5rem;
    align-items: center;
    background-color: var(--primary-color);
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

footer > div {
    padding-bottom: .5rem;
    font-weight: bold;
  }
  
  footer > a {
    background-color: white;
    height: 30px;
    border-radius: 50%;
  }
  
  footer > a > img {
    width: 30px;
  }

  footer > a:visited, footer > a:link {
    color: inherit;
  }
  
  footer > a:hover {
    cursor: pointer;
    background-color: var(--primary-color);
  }